@import url('https://fonts.googleapis.com/css?family=PT+Sans&display=swap');

/* CSS Variables */
:root {
  --primary-color: #b90415;
  --primary-color-hover: #d3071b;
  --secondary-color: #103063;
  --secondary-color-hover: #143f85;
  --light-color: #f4f4f4;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: 'PT Sans', sans-serif;
  background-color: #f4f4f4;
  margin: 0;
  color: #000;
  line-height: 1.6;
}

img {
  width: 100%;
}

a {
  text-decoration: none;
  color: #000;
}

header {
  text-align: right;
}

/* Section */
.section {
  padding: 2rem 0;
}

.section-head {
  font-size: 2.5rem;
  margin: 0;
}

.section h3 {
  font-size: 3rem;
  color: #000;
}

section#contactus {
  background: url('images/connection-contemporary-data-450035.jpg') no-repeat bottom/cover;
  padding: 10rem 0;
}

/* Showcase */
.heroNavBar {
  margin: 0;
  padding: 0;
  background: url('/images/close-up-code-coding-160107.jpg') no-repeat center/cover;
  width: 100%;
  height: 100vh;
  position: relative;
  overflow-y: hidden;
  box-shadow: 2.5px 5px 18px #888888;
}

.heroNavBar .container {
  margin-top: 25vh;
  color: white;
  text-shadow: 2px 2px black;
}

.heroNavBar h1 {
  font-size: 4rem;
  padding-top: 7rem;
  margin-bottom: 0;
}

.heroNavBar h2 {
  font-size: 2rem;
}

#courses h3 {
  text-align: center;
  margin-bottom: 5rem;
}

.row {
  display: flex;
}

.column {
  flex: 50%;
}

.left {
  margin: 5rem;
  text-align: center;
}

.lead {
  padding-top: 2rem;
}

.aboutUsImg {
  width: 75%;
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.12),
    0 2px 2px rgba(0, 0, 0, 0.12),
    0 4px 4px rgba(0, 0, 0, 0.12),
    0 8px 8px rgba(0, 0, 0, 0.12),
    0 12px 12px rgba(0, 0, 0, 0.12);
    box-shadow: 2.5px 5px 18px #888888;
    margin-bottom: 2rem;
}

#cards {
  padding: 3rem;
  text-align: center;
  background-color: #E0E0E0;
}

.columnLeft,
.columnRight {
  padding: 1.5rem;
  width: 30%;
  display: block;
  margin-left: auto;
  margin-right: auto;
  box-shadow: 2.5px 5px 18px #888888;
}

.columnLeft:hover,
.columnRight:hover {
  transform: scale(1.1);
}

/* coursesnav*/
#coursesnav {
  margin: 0;
  padding: 0;
  background: url('/images/man-in-white-dress-shirt-using-macbook-pro-4065877.jpg') no-repeat center/cover;
  width: 100vw;
  position: relative;
  overflow-y: hidden;
}

#coursesnav .container {
  margin-top: 25vh;
  color: black;
}

#coursesnav h1 {
  font-size: 4rem;
  margin-bottom: 0;
}

#coursesnav h2 {
  font-size: 2rem;
}

#coursesOffered {
  text-align: center;
}

.coursesPageTitle {
  padding: 5rem;
  color: black;
  text-shadow: 2px 2px white;
}

.coursesOfferedGrid {
  display: grid;
  grid-gap: 3rem;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: 250px 250px 250px 250px;
}

.coursesGrid2,.coursesGrid3,.coursesGrid6,.coursesGrid7,.coursesGrid10,.coursesGrid11,.coursesGrid14,.coursesGrid15 {
  background-color: white;
  box-shadow: 2.5px 5px 18px #888888;
  text-align: center;
}

.couresGridGFooter {
  padding: 5rem;
}
.coursesGridFooter h2 {
text-align: center;
text-shadow: 2px 2px white;
}

#register {
  margin: 0;
  padding: 0;
  background: url('/images/airplane-architecture-buildings-1157255.jpg') no-repeat center/cover;
  width: 100%;
  height: 100vh;
  position: relative;
  overflow-y: hidden;
  box-shadow: 2.5px 5px 18px #888888;
  text-shadow: 2px 2px black;
}

#register h1 {
  font-size: 4rem;
  margin-bottom: 0;
  text-align: center;
  color: white;
}

#register h3,h4 {
  color: white;
}

#registerPage {
  background: url('/images/black-laptop-computer-beside-white-steno-notebook-2034373.jpg') no-repeat center/cover;
  width: 100%;
  height: 100vh;
  position: relative;
  overflow-y: hidden;
}

#registerPage h1 {
  font-size: 4rem;
  margin-bottom: 0;
  text-align: center;
  color: white;
  text-shadow: 2px 2px black;
}

#registerPage form {
  font-size: 1.5rem;
  color: white;
  width: 100%;
  height: 100vh;
  text-shadow: 2px 2px black;
}

#formarea {
  display: grid;
  grid-gap: 20px;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: 40.5% 50%;
}

#formAreaLeft {
  display: grid;
  grid-gap: 5px;
  grid-template-columns: 300px 300px;
  grid-template-rows: 50px 50px 50px 50px 50px 50px 20px;
}

.formFields {
  margin: 20px;
  align-self: center;
  justify-self: left;
}

#formBoxes {
  margin: 20px;
  align-self: center;
}

#submitBtn {
  justify-self: right;
}

.gift-cards h1 {
  text-align: center;
  margin-top: 100px;
  padding-bottom: 350px;
}

/* Footer */

footer {
  background-color: #87CEEB;
}

footer .footer-cols {
  display: grid;
  grid-gap: 20px;
  grid-template-columns: repeat(2, 1fr);
  padding: 2rem;
  text-align: center;
  font-size: 1rem;
}

footer .footer-cols ul {
  list-style: none;
}

footer .footer-cols ul li:first-child {
  font-size: 1.2rem;
  padding-bottom: 0.5rem;
  border-bottom: #444 solid 1px;
  margin-bottom: 1rem;
}

footer .footer-bottom {
  background: white;
  padding: 1rem;
}

/* Utility Classes */
.container {
  max-width: 1180px;
  text-align: center;
  margin: 0 auto;
  padding: 0 3rem;
}

.lead {
  font-size: 1.3rem;
}

.text-center {
  text-align: center;
}

/* Button */
.btn {
  padding: 1rem;
  color: #fff;
  display: inline-block;
}

.btn-primary {
  background: var(--primary-color);
}

.btn-primary:hover {
  background: var(--primary-color-hover);
}

.btn-secondary {
  background: var(--secondary-color);
}

.btn-secondary:hover {
  background: var(--secondary-color-hover);
}

/* Text Colors */
.text-primary {
  color: var(--primary-color);
}

.text-secondary {
  color: var(--secondary-color);
}

.text-light {
  color: var(--light-color);
}

.bg-light {
  background: var(--light-color);
  color: #333;
}

.mb {
  margin-bottom: 1rem;
}

.mt {
  margin-top: 1rem;
}

/* Navigation */
nav {
  height: 40px;
  width: 100%;
  background-color: #333;
  color: #eee;
  position: fixed;
}

nav ul {
  padding: 0;
  margin: 0;
}

nav li {
  display: inline;
}

nav a {
  display: inline-block;
  width: 100px;
  text-align: center;
  text-decoration: none;
  padding: 10px 0;
  color: white;
  text-decoration: none;
}

nav li:hover {
  background-color: white;
}

nav li a:hover {
  color: black;
}

nav a#openup {
  display: none;
}

.cf:before,
.cf:after {
  content: "";
  display: table;
}

.cf:after {
  clear: both;
}

.cf {
  zoom: 1;
  background-color: #87CEEB;
}



/* For IE 6/7 (trigger hasLayout) */

@media screen and (max-width: 580px) {
  .hide-on-small {
    display: none;
  }

  #showcase {
    height: 50vh;
  }

  #showcase .container {
    margin-top: 10vh;
  }

  #showcase h1 {
    font-size: 3rem;
  }

  #showcase h2 {
    font-size: 1.5rem;
  }

  nav {
    height: auto;
    border-bottom: 0;
  }

  nav ul {
    display: none;
    height: auto;
  }

  nav li {
    width: 100%;
    float: left;
    position: relative;
  }

  nav a {
    text-align: left;
    width: 100%;
    text-indent: 25px;
    background: #333;
    border-bottom: 1px solid #555;
  }

  nav a:hover {
    background: #444;
  }

  nav a#openup:after {
    content: "|||";
    transform: rotate(-90deg);
    -ms-transform: rotate(-90deg);
    /* IE 9 */
    -webkit-transform: rotate(-90deg);
    /* Safari and Chrome */
    width: 30px;
    height: 30px;
    display: inline-block;
    position: absolute;
    right: 5px;
    top: 20px;
  }

  nav a#openup {
    display: block;
    background-color: #333;
    width: 100%;
    position: relative;
  }
}